{{/*
  Builds an Article JSON-LD node (or Article subtype).
  Outputs JSON. Callers: partial "..." . | transform.Unmarshal

  Supported subtypes via params.jsonld.type:
    Article (default), NewsArticle, BlogPosting, TechArticle, ScholarlyArticle
*/}}
{{- $siteURL   := site.BaseURL | strings.TrimRight "/" -}}
{{- $orgID     := printf "%s#organization" $siteURL -}}
{{- $permalink := .Permalink | strings.TrimRight "/" -}}
{{- $pageID    := printf "%s#webpage"  $permalink -}}
{{- $articleID := printf "%s#article"  $permalink -}}

{{- $jsonld      := .Params.jsonld | default dict -}}
{{- $name        := $jsonld.name        | default .Title -}}
{{- $description := $jsonld.description | default .Description | default .Summary -}}

{{- $articleTypes := slice "Article" "NewsArticle" "BlogPosting" "TechArticle" "ScholarlyArticle" -}}
{{- $type := "Article" -}}
{{- with $jsonld.type -}}
  {{- if in $articleTypes . -}}{{- $type = . -}}{{- end -}}
{{- end -}}

{{- $author := dict "@id" $orgID -}}
{{- $jAuthor := $jsonld.author | default dict -}}
{{- with $jAuthor.name -}}
  {{- $author = dict "@type" "Person" "name" . -}}
  {{- with $jAuthor.url -}}{{- $author = merge $author (dict "url" .) -}}{{- end -}}
{{- else with $.Params.author -}}
  {{- $author = dict "@type" "Person" "name" . -}}
{{- end -}}

{{- $datePublished := "" -}}
{{- with $jsonld.datePublished -}}
  {{- $datePublished = partial "jsonld/helpers/validate-date.html" (dict "date" . "page" $) -}}
{{- else with $.Date -}}
  {{- $datePublished = . | time.Format "2006-01-02T15:04:05Z07:00" -}}
{{- end -}}

{{- $dateModified := "" -}}
{{- with $jsonld.dateModified -}}
  {{- $dateModified = partial "jsonld/helpers/validate-date.html" (dict "date" . "page" $) -}}
{{- else with $.Lastmod -}}
  {{- $dateModified = . | time.Format "2006-01-02T15:04:05Z07:00" -}}
{{- end -}}

{{- $image := partial "jsonld/helpers/resolve-image.html" (dict "page" .) -}}

{{- $node := dict
  "@type"            $type
  "@id"              $articleID
  "headline"         $name
  "url"              .Permalink
  "isPartOf"         (dict "@id" $pageID)
  "mainEntityOfPage" (dict "@id" $pageID)
  "publisher"        (dict "@id" $orgID)
  "author"           $author
-}}

{{- with $description   -}}{{- $node = merge $node (dict "description"   .) -}}{{- end -}}
{{- with $image         -}}{{- $node = merge $node (dict "image"         .) -}}{{- end -}}
{{- with $datePublished -}}{{- $node = merge $node (dict "datePublished" .) -}}{{- end -}}
{{- with $dateModified  -}}{{- $node = merge $node (dict "dateModified"  .) -}}{{- end -}}
{{- with .Params.tags   -}}{{- $node = merge $node (dict "keywords" (delimit . ", ")) -}}{{- end -}}
{{- with .WordCount     -}}{{- $node = merge $node (dict "wordCount" .)               -}}{{- end -}}

{{- $node | jsonify -}}
