{{/*
  Builds a BreadcrumbList JSON-LD node.
  Outputs JSON (empty object {} if page is home or list has only one item).
  Callers: partial "..." . | transform.Unmarshal
*/}}
{{- $permalink := .Permalink | strings.TrimRight "/" -}}
{{- $items     := slice -}}
{{- $pos       := 1 -}}

{{- $items = $items | append (dict
  "@type"    "ListItem"
  "position" $pos
  "name"     site.Title
  "item"     site.BaseURL
) -}}
{{- $pos = add $pos 1 -}}

{{- range .Ancestors.Reverse -}}
  {{- if ne .Kind "home" -}}
    {{- $items = $items | append (dict
      "@type"    "ListItem"
      "position" $pos
      "name"     .Title
      "item"     .Permalink
    ) -}}
    {{- $pos = add $pos 1 -}}
  {{- end -}}
{{- end -}}

{{- if ne .Kind "home" -}}
  {{- $items = $items | append (dict
    "@type"    "ListItem"
    "position" $pos
    "name"     .Title
    "item"     .Permalink
  ) -}}
{{- end -}}

{{- $node := dict -}}
{{- if gt (len $items) 1 -}}
  {{- $node = dict
    "@type"           "BreadcrumbList"
    "@id"             (printf "%s#breadcrumb" $permalink)
    "itemListElement" $items
  -}}
{{- end -}}

{{- $node | jsonify -}}
