{{/*
  Builds a Person JSON-LD node.
  Outputs JSON (empty object {} if name cannot be resolved).
  Callers: partial "..." . | transform.Unmarshal
*/}}
{{- $siteURL  := site.BaseURL | strings.TrimRight "/" -}}
{{- $orgID    := printf "%s#organization" $siteURL -}}
{{- $jsonld   := .Params.jsonld | default dict -}}
{{- $name     := $jsonld.name | default .Params.name | default .Title -}}

{{- $node := dict -}}

{{- if $name -}}
  {{- $node = dict
    "@type"    "Person"
    "@id"      (printf "%s#person-%s" $siteURL .Slug)
    "name"     $name
    "url"      .Permalink
    "worksFor" (dict "@id" $orgID)
  -}}

  {{- with $jsonld.jobTitle | default .Params.jobTitle -}}{{- $node = merge $node (dict "jobTitle" .) -}}{{- end -}}
  {{- with $jsonld.email    | default .Params.email    -}}{{- $node = merge $node (dict "email"    .) -}}{{- end -}}
  {{- with $jsonld.sameAs   | default .Params.sameAs   -}}{{- $node = merge $node (dict "sameAs"   .) -}}{{- end -}}

  {{- $image := partial "jsonld/helpers/resolve-image.html" (dict "page" .) -}}
  {{- with $image -}}{{- $node = merge $node (dict "image" .) -}}{{- end -}}
{{- else -}}
  {{- warnf "[jsonld] %q: Person.name is missing." .RelPermalink -}}
{{- end -}}

{{- $node | jsonify -}}
