{{/*
  Builds a Product JSON-LD node.
  Outputs JSON. Callers: partial "..." . | transform.Unmarshal
*/}}
{{- $siteURL   := site.BaseURL | strings.TrimRight "/" -}}
{{- $orgID     := printf "%s#organization" $siteURL -}}
{{- $permalink := .Permalink | strings.TrimRight "/" -}}
{{- $jsonld    := .Params.jsonld | default dict -}}

{{- $name        := $jsonld.name        | default .Title -}}
{{- $description := $jsonld.description | default .Description | default .Summary -}}
{{- $image       := partial "jsonld/helpers/resolve-image.html" (dict "page" .) -}}

{{- $node := dict
  "@type"  "Product"
  "@id"    (printf "%s#product" $permalink)
  "name"   $name
  "url"    .Permalink
  "brand"  (dict "@id" $orgID)
-}}

{{- with $description -}}{{- $node = merge $node (dict "description" .) -}}{{- end -}}
{{- with $image       -}}{{- $node = merge $node (dict "image"       .) -}}{{- end -}}
{{- with $jsonld.sku  -}}{{- $node = merge $node (dict "sku"         .) -}}{{- end -}}
{{- with $jsonld.gtin -}}{{- $node = merge $node (dict "gtin"        .) -}}{{- end -}}

{{- $jOffers := $jsonld.offers | default slice -}}
{{- if $jOffers -}}
  {{- $offers := slice -}}
  {{- range $jOffers -}}
    {{- $avail := printf "https://schema.org/%s" (.availability | default "InStock") -}}
    {{- $offer := dict
      "@type"         "Offer"
      "price"         (string .price)
      "priceCurrency" (.priceCurrency | default "EUR")
      "availability"  $avail
    -}}
    {{- with .url -}}{{- $offer = merge $offer (dict "url" .) -}}{{- end -}}
    {{- $offers = $offers | append $offer -}}
  {{- end -}}
  {{- if eq (len $offers) 1 -}}
    {{- $node = merge $node (dict "offers" (index $offers 0)) -}}
  {{- else -}}
    {{- $node = merge $node (dict "offers" $offers) -}}
  {{- end -}}
{{- end -}}

{{- $rating := $jsonld.aggregateRating | default dict -}}
{{- if and $rating.ratingValue $rating.reviewCount -}}
  {{- $ratingNode := dict
    "@type"       "AggregateRating"
    "ratingValue" (string $rating.ratingValue)
    "reviewCount" (string $rating.reviewCount)
  -}}
  {{- with $rating.bestRating -}}{{- $ratingNode = merge $ratingNode (dict "bestRating" (string .)) -}}{{- end -}}
  {{- $node = merge $node (dict "aggregateRating" $ratingNode) -}}
{{- end -}}

{{- $node | jsonify -}}
