{{/*
  Builds a WebPage JSON-LD node (or WebPage subtype).
  Outputs JSON. Callers: partial "..." . | transform.Unmarshal

  @type resolution (first match wins):
    1. params.jsonld.type if it is a known WebPage subtype
    2. "CollectionPage" for section pages
    3. "WebPage" (default)
*/}}
{{- $siteURL   := site.BaseURL | strings.TrimRight "/" -}}
{{- $orgID     := printf "%s#organization" $siteURL -}}
{{- $permalink := .Permalink | strings.TrimRight "/" -}}
{{- $pageID    := printf "%s#webpage" $permalink -}}

{{- $jsonld      := .Params.jsonld | default dict -}}
{{- $name        := $jsonld.name        | default .Title -}}
{{- $description := $jsonld.description | default .Description | default .Summary -}}

{{- $webPageSubtypes := slice "WebPage" "CollectionPage" "ItemPage" "AboutPage" "ContactPage" "ProfilePage" -}}
{{- $type := "WebPage" -}}
{{- if eq .Kind "section" -}}
  {{- $type = "CollectionPage" -}}
{{- end -}}
{{- with $jsonld.type -}}
  {{- if in $webPageSubtypes . -}}{{- $type = . -}}{{- end -}}
{{- end -}}

{{- $image := partial "jsonld/helpers/resolve-image.html" (dict "page" .) -}}

{{- $node := dict
  "@type"     $type
  "@id"       $pageID
  "url"       .Permalink
  "name"      $name
  "isPartOf"  (dict "@id" (printf "%s#website" $siteURL))
  "publisher" (dict "@id" $orgID)
-}}

{{- if ne .Kind "home" -}}
  {{- $node = merge $node (dict "breadcrumb" (dict "@id" (printf "%s#breadcrumb" $permalink))) -}}
{{- end -}}

{{- with $description -}}{{- $node = merge $node (dict "description" .)                                              -}}{{- end -}}
{{- with $image       -}}{{- $node = merge $node (dict "image"       .)                                              -}}{{- end -}}
{{- with .Date        -}}{{- $node = merge $node (dict "datePublished" (. | time.Format "2006-01-02T15:04:05Z07:00")) -}}{{- end -}}
{{- with .Lastmod     -}}{{- $node = merge $node (dict "dateModified"  (. | time.Format "2006-01-02T15:04:05Z07:00")) -}}{{- end -}}

{{- $node | jsonify -}}
