{{/*
  Builds a WebSite JSON-LD node. Emitted on the home page only.
  Outputs JSON. Callers: partial "..." . | transform.Unmarshal
*/}}
{{- $cfg     := site.Params.jsonld | default dict -}}
{{- $siteURL := site.BaseURL | strings.TrimRight "/" -}}
{{- $orgID   := printf "%s#organization" $siteURL -}}

{{- $node := dict
  "@type"     "WebSite"
  "@id"       (printf "%s#website" $siteURL)
  "name"      site.Title
  "url"       site.BaseURL
  "publisher" (dict "@id" $orgID)
-}}

{{- with $cfg.searchUrlPattern -}}
  {{- $node = merge $node (dict "potentialAction" (dict
    "@type"       "SearchAction"
    "target"      (dict "@type" "EntryPoint" "urlTemplate" (printf "%s%s" $siteURL .))
    "query-input" "required name=search_term_string"
  )) -}}
{{- end -}}

{{- with $cfg.defaultImage -}}
  {{- $node = merge $node (dict "image" (. | absURL)) -}}
{{- end -}}

{{- $node | jsonify -}}
